:root{
    --header-bg: url('../img/website bg.jpg');
    
    --hoverblue: #66B3B0;
    --volcano: #3B2F31;

    --dot-bg: black;
    --dot-color: white;
}

*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:var(--volcano);

    scrollbar-color: var(--hoverblue);
    scrollbar-width: thin;
}

::selection{
    background: blueviolet;
    color:aqua;
}

body{
/* https://codepen.io/edmundojr/pen/xOYJGw/ */
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

p {line-height: 1.5em;}

header{

    background-color:blue;
    background-image:var(--header-bg);
    background-position: 75%;
    background-repeat:no-repeat;

    min-height:200px;
    margin: 0 auto;
    padding-top: 10px;

    text-align:center; 

}

header > h1 {

    margin: 20px auto;
    max-width: 1080px;
    width: fit-content;
    padding: 12px;
}

nav{
    font-weight: bold;
}

nav > ul {
    max-width: 1080px;
    margin: auto;
    line-height: 3rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    list-style-type: none;
    padding-left: 0;
    
    justify-content: space-evenly;
}

nav li {
    text-align: center;
}

nav li > a {
    background-color: red;
    color: orange;
    padding: .2m 3em;

    text-decoration: none;
}

nav li >a:hover{
    background-color: var(--hoverblue);
}

a{
    color: yellowgreen;
    font-weight: bold;
}

a:visited{
    color: brown;
}
a:hover{
    color: var(--hoverblue)
}

ul{
    list-style-type: circle;
}

marquee{
    display:block;
    margin: 0;
    background-color: bisque;
}

#sidebar{
    background-color:violet;
    max-width: 120px;
    margin: 1em;
    padding:1em;
    border: 2px solid var(--volcano);
    box-shadow: var(--hoverblue) 4px 4px;
}

#sidebar ul{
    padding-left: 0;
    margin: 1em;
}

#headshot{
    margin: .5em auto;
    text-align: center;
}

#headshot img{
    background: var(--dot-color);
    width: 100%;
    border: 2px solid var(--volcano);
}

#bio {
    background: red;
    border: 2px solid var(--volcano);
}

bio p {margin: .8em;}

#content{
    display:flex;
    max-width: 1080px;
    margin: auto;
}

main{
    background-color: bisque;
    box-shadow: grey 4px 4px;
    margin: 1em;
    padding-bottom: 1em;
    border: 32px solid var(--volcano);

    max-height: 420px;
    overflow: auto;
}

main h1{
    text-align: center;
}

main>h1,
main>h2,
main>h3{

    background: violet;
    padding: .2em .5em;
    margin: 0;
}

.aboutMe{
    padding: 0 1em;
}

.center {text-align: center;}

footer{
    text-align: center;
    font-size: small;
    margin: 1em auto;
    max-width: 960px;
}

/* INTERACTIVE ELEMENTS */

@media only screen and (max-width: 800px){
    #content{
        flex-wrap: wrap;
    }

    #sidebar{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0;
    }

    header{
        min-height: 300px;
        background-position: bottom;
    }
    header > h1 {
        margin: .4em;
    }

    nav > ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #headshot{
        margin: 0 1em;
        max-width: 120px;
    }

    #bio {width: 50%;}
    main{margin: 0; max-height: fit-content;}

    #sidebar {
        max-width: 100%;
    }
    #sidebar ul {
        margin: 0 1em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        line-height: 2em;
    }
    
    footer{
        margin: 1em;
    }

}