:root {
	--pink: #FF6F91;
	--green: #6BFFB1;
	--hoverblue: #66B3B0;
	--yellow: #FFEB3B;
	--cloud: #F7F7F7;
	--volcano: #2B2B2B;
}

body{
	margin:0px;
	display: flex;
	flex-direction: column;	
}

#Navbar {
	background: var(--cloud);
	margin: 0px;

	header {
		display: flex;
		justify-content: space-around;
	}

	.navbar {
		padding: 14px 16px;
		overflow: hidden;
		font-family: NSimSun;
	}
		/* Links inside the navbar */
		.navbar a {
			float: left;
			font-size: 16px;
			color: var(--volcano);
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
	/* The dropdown container */
	.dropdown {
		float: left;
		overflow: hidden;
		padding: 3px;
	}
		/* Dropdown button */
		.dropdown .dropbtn {
			border: none;
			outline: none;
			color: var(--volcano);
			background-color: inherit;
			font-family: inherit; 
			align-content: center;
			/* Important for vertical align on mobile phones */
		}

	/* Add a red background color to navbar links on hover */
		.navbar a:hover, .dropdown:hover .dropbtn {
			background-color: var(--hoverblue);
		}

	/* Dropdown content (hidden by default) */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: var(--cloud);
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
		/* Links inside the dropdown */
		.dropdown-content a {
			float: none;
			color: black;
			text-decoration: none;
			display: block;
			text-align: left;
		}
			/* Add a grey background color to dropdown links on hover */
			.dropdown-content a:hover {
				background-color: #ddd;
			}
	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}

	.fa {
		padding: 15px;
		font-size: 15px;
		text-align: center;
	}
		/* Add a hover effect if you want */
		.fa:hover {
			opacity: 0.7;
		}
}


/* Social Icons */
ul {
  list-style-type: none;
  margin: 7px;
  padding: 7px;
  background-color: var(--cloud);
  display: flex;
}

header ul {
	align-content: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header ul a {
	padding: 5px 5px;
	display: block;
}

header ul a:hover{
	color: var(--hoverblue);
}

ul li a {
  display: block;
  color: var(--volcano);
  padding: 14px 16px;
}

ul li a:hover {
  background-color:var(--volcano);
}

#Home {
	margin: 0px;
	position: relative;
	width: 100%;
	text-align: center;
}

.text-container {
	position: absolute;
	color: rgb(255, 255, 255);
	left: 20%;
	top: 20%;
	transform: translate(-50%, -80%);
	background-color: rgba(41, 41, 41, 0.8);
	padding: 0.5rem;
	text-align: center;
	font-size: 16px;
}

}
	
#Voiceover {
		}

	p {
		font-family: NSimSun;
		color: white;
	}
		.audio-demos {
			max-width: 500px;
			margin: 0;
			padding: 1.5em 0;
			display: flex;
			flex-direction: column;
			gap: 2em;
		}

		.audio-item {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			background: green;
			border-radius: 10px;
			box-shadow: 0 2px 6px rgba(40,40,60,0.06);
			padding: 1.2em 1.5em 0.9em 1.5em;
		}

		.audio-controls {
			display: flex;
			gap: 1.5em;
			margin-bottom: 0.6em;
		}

		.play-btn, .download-btn {
			background: white;
			border: none;
			border-radius: 50%;
			width: 44px;
			height: 44px;
			box-shadow: 0 1px 4px black;
			color: gray;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.2s;
			cursor: pointer;
		}

			.play-btn:hover, .download-btn:hover {
				background: wheat;
				color: black;
			}

		.download-btn {
			text-decoration: none;
		}

		.audio-item audio {
			width: 100%;
			margin-top: 0.25em;
			outline: none;
			accent-color: red;

		p {
			font-family: NSimSun;
			color: white;
		}
}

#Illustration {
	font-family: NSimSun;
}

#Contact {
	font-family: NSimSun;
}








section {
	background-color: #FF6F91;
	display: flex;
	flex-direction: row;
	
}

audio{
	display: block;
}